apiVersion: security.openshift.io/v1
kind: SecurityContextConstraints
metadata:
  name: {{ devspaces_ocp_install_scc_name | default('nested-podman-scc') }}
priority: {{ devspaces_ocp_install_scc_priority | default('null') }}
allowPrivilegeEscalation: {{ devspaces_ocp_install_scc_allow_privilege_escalation | default(true) | lower }}
allowedCapabilities:
  {{ devspaces_ocp_install_scc_allowed_capabilities | default(['SETUID', 'SETGID']) | to_nice_yaml(indent=2) | indent(2) }}
fsGroup:
  type: {{ devspaces_ocp_install_scc_fsgroup_type | default('MustRunAs') }}
  ranges:
    - min: {{ devspaces_ocp_install_scc_fsgroup_min | default(1000) }}
      max: {{ devspaces_ocp_install_scc_fsgroup_max | default(65534) }}
runAsUser:
  type: {{ devspaces_ocp_install_scc_run_as_user_type | default('MustRunAs') }}
  uid: {{ devspaces_ocp_install_scc_run_as_user_uid | default(1000) }}
seLinuxContext:
  type: {{ devspaces_ocp_install_scc_selinux_type | default('MustRunAs') }}
  seLinuxOptions:
    type: {{ devspaces_ocp_install_scc_selinux_option_type | default('container_engine_t') }}
supplementalGroups:
  type: {{ devspaces_ocp_install_scc_supp_groups_type | default('MustRunAs') }}
  ranges:
    - min: {{ devspaces_ocp_install_scc_supp_groups_min | default(1000) }}
      max: {{ devspaces_ocp_install_scc_supp_groups_max | default(65534) }}
userNamespaceLevel: {{ devspaces_ocp_install_scc_user_ns_level | default('RequirePodLevel') }}
