---
apiVersion: org.eclipse.che/v2
kind: CheCluster
metadata:
  name: {{ devspaces_ocp_install_instance['instance_name'] }}
  namespace: {{ devspaces_ocp_install_namespace }}
spec:
  components:
    cheServer:
      debug: {{ devspaces_ocp_install_instance['debug'] | default(false) | bool }}
      logLevel: {{ devspaces_ocp_install_che_server_log_level | default('INFO') }}
    dashboard:
      logLevel: {{ devspaces_ocp_install_dashboard_log_level | default('ERROR') }}
    devWorkspace: {{ devspaces_ocp_install_dev_workspace_config | default({}) | to_json }}
    devfileRegistry:
      disableInternalRegistry: {{ devspaces_ocp_install_devfile_registry_internal_disable | default(true) | lower }}
    imagePuller:
      enable: {{ devspaces_ocp_install_image_puller_enable | default(false) | lower }}
      spec: {{ devspaces_ocp_install_image_puller_spec | default({}) | to_json }}
    metrics:
      enable: {{ devspaces_ocp_install_metrics_enable | default(true) | lower }}
    pluginRegistry:
      openVSXURL: "{{ devspaces_ocp_install_plugin_registry_vsx_url | default('https://open-vsx.org') }}"
  containerRegistry: {{ devspaces_ocp_install_container_registry_config | default({}) | to_json }}
  devEnvironments:
    startTimeoutSeconds: {{ devspaces_ocp_install_dev_env_start_timeout | default(1000) }}
    security: {{ devspaces_ocp_install_dev_env_security_config | default({}) | to_json }}
    secondsOfRunBeforeIdling: {{ devspaces_ocp_install_dev_env_run_before_idling | default(-1) }}
    maxNumberOfWorkspacesPerUser: {{ devspaces_ocp_install_dev_env_max_workspaces | default(-1) }}
    containerBuildConfiguration:
      openShiftSecurityContextConstraint: {{ devspaces_ocp_install_scc_name | default('nested-podman-scc') }}
    disableContainerBuildCapabilities: {{ devspaces_ocp_install_disable_build_caps | default(false) | lower }}
    ignoredUnrecoverableEvents:
      {{ devspaces_ocp_install_ignored_events | default(['FailedScheduling']) | to_nice_yaml(indent=2) | indent(6) }}
    defaultEditor: {{ devspaces_ocp_install_default_editor | default('che-incubator/che-code/latest') }}
    maxNumberOfRunningWorkspacesPerUser: {{ devspaces_ocp_install_max_running_workspaces | default(5) }}
    defaultComponents:
      {{ devspaces_ocp_install_default_components | default([{
          'attributes': {
            'container-overrides': { 'securityContext': { 'procMount': 'Unmasked' } },
            'pod-overrides': { 
              'metadata': { 'annotations': { 'io.kubernetes.cri-o.Devices': '/dev/fuse,/dev/net/tun' } },
              'spec': { 'hostUsers': false }
            }
          },
          'container': {
            'image': 'quay.io/cgruver0/che/dev-tools:latest',
            'memoryLimit': '6Gi',
            'mountSources': true,
            'sourceMapping': '/projects'
          },
          'name': 'dev-tools'
      }]) | to_nice_yaml(indent=2) | indent(6) }}
    defaultNamespace:
      autoProvision: {{ devspaces_ocp_install_namespace_autoprovision | default(true) | lower }}
      template: "{{ devspaces_ocp_install_namespace_template | default('<username>-devspaces') }}"
    secondsOfInactivityBeforeIdling: {{ devspaces_ocp_install_inactivity_timeout | default(3600) }}
    storage:
      pvcStrategy: {{ devspaces_ocp_install_storage_pvc_strategy | default('per-workspace') }}
  gitServices: {{ devspaces_ocp_install_git_services_config | default({}) | to_json }}
  networking:
    auth:
      gateway:
        configLabels:
          app: {{ devspaces_ocp_install_gateway_label_app | default('che') }}
          component: {{ devspaces_ocp_install_gateway_label_component | default('che-gateway-config') }}
